<div class="grid grid-cols-2 gap-2">
    <div>
        <label for="BackgroundColor" style="width: 85px;" class="block mb-2 text-sm font-medium text-gray-900">@Title</label>
        <SfChip EnableDelete="true" class="border rounded-xl" style="min-height:42px">
            <ChipItems>
                @if (chipItems != null)
                {
                    @foreach (ChipItem chipItem in chipItems)
                    {
                        <ChipItem Text="@chipItem.Text" Value="@chipItem.Value"></ChipItem>
                    }
                }
            </ChipItems>
            <ChipEvents Deleted="DeleteChip"></ChipEvents>
        </SfChip>

    </div>

    <div>
        <div class="w-full">
            <label for="BackgroundColor" class="block mb-2 text-sm font-medium text-gray-900">Add a @Title</label>
            <div class="flex w-100 grid grid-cols-2 gap-1">
                <div>
                    <input id="BlogTags" @bind="newItem" @bind:event="oninput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Blog Tags" />
                </div>
                <div>
                    <button @onclick="onAddItem" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add Tag</button>
                </div>
            </div>
        </div>
    </div>

</div>
