@page "/"

<PageTitle>Index</PageTitle>

<div class="shadow-md h-32 w-full flex items-center justify-center" style="background-image:url(https://previews.123rf.com/images/junce/junce1711/junce171100299/90592799-white-line-on-artifact-grass-sport-field-for-texture-background.jpg);">

    <div class="flex items-center overflow-hidden">
        <img class="w-24 h-24 rounded-full border-8 border-white -mr-2" src="https://images7.alphacoders.com/131/1319607.jpeg" alt="Profile Picture">
        <div class="bg-white rounded-1 px-4 p-2" style="opacity:0.9">
            <p class="text-xs uppercase">MY CLUB DASHBOARD</p>
            <h2 class="text-m font-semibold text-gray-800">Welcome back, Maximilian!</h2>
        </div>
    </div>
</div>


